.error_message {
    color: red;
}
.wpss_set_submit { float: right;}
.wpw-auto-poster-info-box { background: #eeeeee;
                            padding: 4px 10px 7px !important;
                            border: 1px solid #e0e0e0; width: 67%;}